<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <!-- <link href="css/style.css" rel="stylesheet" /> -->
  <style>
    body {
      display: flex;
      justify-content: center;
      align-content: center;
      min-height: 100vw;
    }

    div p {
      text-align: center;
    }
  </style>
</head>

<body>
  <div>
    <p>Error 404</p>
    <p>Are you lost baby girl, we don't have that page!</p>
  </div>
</body>

</html>
